@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background: #E5E8ED;
  margin:0;
  padding:0;
}

th, td, span, p, button{
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}